.code-entry-container {
    position: relative;
    padding: 100px;
}

.holder {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    overflow: hidden;
    margin: 0 0 20px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 20px;
  }
  
  li:last-child {
    margin: 0;
  }
  
  img {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
  
  .code-details {
    display: inline-block;
  }
  
  h3 {
    font-weight: bolder;
  }
  
  .search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .phone {
    font-weight: normal;
    font-style: italic;
    color: #999;
  }


  .code-entry {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .language-input {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  h3 {
    margin: 0;
  }
  
  .data {
    margin-top: 10px;
  }